@model BSD2_24.Models.StatusViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des Tickets</h1>

<form asp-controller="Tickets" asp-action="Index" method="get">
    <t>
        <select asp-for="StatusSelectionne" asp-items="Model.Status">
            <option value="">Filtrer par status</option>
        </select>

        <input type="text"
               name="recherche"
               placeholder="Ex : Nom du Ticket"
               value="@Html.DisplayFor(model => model.Recherche)" />
        <input class="btn btn-primary" type="submit" value="Rechercher" />
    </t>
</form>

<t>
    <a asp-action="Create" class="btn btn-success">Créer un nouveau ticket</a>
</t>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0]!.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets[0].Status!.Nom)
            </th>
            <th>
                Utilisateur Assigné
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tickets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Nom)
                </td>
                <td>
                    @(item.Utilisateur != null ? item.Utilisateur.Email : "Non assigné")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Modifier</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Détails</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
